<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Вход</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div class="row w-25 mx-auto">
        <div class="col-11 text-center" style="font-size: 3vmax">
            <br>
            <p>Добро пожаловать!</p>
        </div>
        <form action="/signin" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Имя пользователя</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter username" name="username">
            </div>
            <br>
            <div class="form-group">
                <label for="exampleInputPassword1">Пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <br>
            <div class="text-center">
                <a class="btn btn-outline-secondary" href="/signup">Зарегистрироваться</a>
                <input type="submit" class="btn-check" id="button" autocomplete="off">
                <label class="btn btn-secondary" for="button">Войти</label>
            </div>
        </form>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>